@using WebUI.Models
@using WebUI.Services.Interfaces
@inherits LayoutComponentBase
@inject ISession<Athlete> AthleteSession

@* Required *@
<MudThemeProvider @bind-IsDarkMode="@IsDarkMode" Theme="_theme" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar >
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        Need For Speed

		<MudSwitch Value="IsDarkMode" ValueChanged="OnIsDarkModeChangedAsync" T="bool" Color="Color.Primary" Class="ma-4" Label="Toggle Light/Dark Mode" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
@code {


	bool _drawerOpen = true;

	void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;
	}

	private readonly MudTheme _theme = new();
	private Athlete? _athlete;

	public bool IsDarkMode
	{
		get => field;
		set
		{
			field = value;
			if (_athlete?.AthletePreferences != null)
			{
				_athlete.AthletePreferences.IsDarkMode = value;
			}
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			_athlete = await AthleteSession.GetAsync();
			if (_athlete?.AthletePreferences != null)
			{
				IsDarkMode = _athlete.AthletePreferences.IsDarkMode;
			}
			StateHasChanged();
		}
	}
	private async Task OnIsDarkModeChangedAsync(bool args)
	{
		IsDarkMode = args;
		if (_athlete != null)
			await AthleteSession.SetAsync(_athlete);
	}
}